<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://github.com/swap-dev/">swap github</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | swap version: {{monero_version_full}}
    </h6>
</div>
</body>
</html>
